<div class="banner">
  <div class="container">
    <div class="main_slider_content">
      <h1 class="text-center">AGENDE SEU SERVIÇO</h1>
    </div>
    <div class="row">
      <div class="col-md-4 p-4" *ngFor="let servico of servicos">
        <div class="banner_item align-items-center" style="background-image:url({{servico.imgPath}})">
          <img class="card-img-top img-responsive">
          <div class="banner_category">
            <a href="#">{{ servico.nome }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

