
<!-- Navigation -->
<app-nav></app-nav>


<div class="agendamentos">
  <h1 class="text-center text-teste">HORARIOS AGENDADOS</h1>
</div>

<div class=".table-responsive">
  <table mat-table [dataSource]="clients" class="table " matSort aria-label="Elements">
    <!-- Id Column -->

    <ng-container matColumnDef="id">
      <thead class="thead-dark">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </thead>
    </ng-container>

    <!-- Name Column -->

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-table">Nome</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Services Column -->
    <ng-container matColumnDef="servico">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-table">Servico</th>
      <td mat-cell *matCellDef="let row">{{row.service}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-table">Data</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <!-- Hour Column -->
    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-table">Hora</th>
      <td mat-cell *matCellDef="let row">{{row.time}}</td>
    </ng-container>

    <!-- Payment Column -->
    <ng-container matColumnDef="pagamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-table">Pagamento</th>
      <td mat-cell *matCellDef="let row">{{row.payment}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 50]"
      aria-label="Select page">
  </mat-paginator>
</div>

<!-- Footer -->

<footer class="footer">
  <app-footer></app-footer>
</footer>
